/* styles for index.html */

@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
:root {
  --background: #131313;
  --text-color: #f0f8ff;
  --accent-color: #800080;
  --border-color: #eee;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: "Geist", serif;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  border-radius: 100%;
}
.container {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}
h1,
h2 {
  margin: 1rem 0;
  border-bottom: 2px solid var(--border-color);
  width: max-content;
}
footer {
  display: flex;
  align-items: center;
  margin: 1rem 2rem;
}
footer a {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 4px;
}
.form-link {
  border: 1px solid var(--accent-color);
}
.form-link:hover {
  background-color: var(--accent-color);
}
.link {
  background-color: var(--accent-color);
}
